<template>
  <nav class="shadow">
    <span>OPM Music Collection</span>
    <b-button v-on:click.prevent="logout" variant="light" class="logout">
      <i class="fas fa-sign-out-alt"></i> Logout</b-button
    >
  </nav>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    async logout() {
      const res = await this.$store.dispatch("LOGOUT");
      if (res.status == 200) {
        this.$router.push("/login");
      }
    },
  },
};
</script>

<style>
</style>