@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --player-background: #ff9efc;
    --player-font-size: 1rem;
    --player-font-size-small: .7rem;
    --player-font-weight: 300;
    --player-font-weight-bold: 500;
    --player-text-color: #451a43;
    --player-icon-color: var(--player-text-color);
    --player-link-color: var(--player-text-color);
    --player-progress-color: #f25ced;
    --player-buffered-color: #cc4ec8;
    --player-seeker-color: #451a43;
    --player-input-range-color: var(--player-text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* .m-content {
    margin-top: 4rem;
} */

.login {
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: linear-gradient(to right, #E5447B, #7B11C2);
    opacity: .8;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.login-form {
    width: 350px;
    height: 70vh;
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
    border-radius: 20px !important;
}

.btn-login {
    width: 100%;
    background: linear-gradient(to right, #E5447B, #7B11C2);
}

.music {
    background: url("../img/bg-2.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-content {
    width: 850px;
    height: 430px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    z-index: 200;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-player {
    width: 300px;
    height: 400px;
}

.container-player {
    border-radius: 15px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-player img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: fill;
}

.container-player p:last-child {
    font-size: 14px;
}

.container-songlist {
    width: 500px;
    height: 400px;
    border-radius: 10px;
}

.songlist {
    width: 470px;
    height: 330px;
    overflow-x: hidden;
}

.song-item {
    width: 470px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.song-item .play-button {
    margin-right: 30px;
    background: linear-gradient(to right, #E5447B, #7B11C2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.song-item-main {
    height: 3.2rem;
    width: 100%;
}

nav {
    width: 100%;
    height: 3.5rem;
    position: fixed;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    align-items: center;
    margin-bottom: 200px;
}

nav span {
    font-weight: bold;
    font-size: 24px;
    color: #7B11C2;
}

.new-song {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: linear-gradient(to right, #E5447B, #7B11C2);
}

.logout {
    background: linear-gradient(to right, #E5447B, #7B11C2);
    color: #fff;
}

.player {
    width: 500px !important;
}