<template>
  <div>
    <Navbar />
    <div class="container">
      <div class="row justify-content-center">
        <h1>Music list</h1>
        <div class="col-md-4 col-lg-4" v-for="song in songs" :key="song.id">
          <b-card
            :title="song.title"
            :img-src="'http://127.0.0.1:8000/uploads/' + song.featured_image"
            :img-alt="song.featured_image"
            img-top
            tag="article"
            img-height="200"
            class="mt-3 mb-3 shadow"
          >
            <b-card-text>
              <span>{{ song.artist }}</span>
              <br />
              <span>{{ song.year_release }}</span>
              <aplayer
                autoplay
                :music="{
                  title: song.title,
                  artist: song.artist,
                  src: 'http://127.0.0.1:8000/uploads/' + song.featured_song,
                  pic: 'http://127.0.0.1:8000/uploads/' + song.featured_image,
                }"
              />
            </b-card-text>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <b-button
                  variant="outline-primary"
                  class="mx-1"
                  v-on:click="showUpdateSong(song)"
                  ><i class="fas fa-pen-alt"></i
                ></b-button>
                <b-button
                  variant="outline-primary"
                  class="mx-1"
                  v-on:click="showDeleteSong(song.id)"
                  ><i class="fas fa-trash"></i
                ></b-button>
              </div>
            </div>
          </b-card>
        </div>
      </div>
    </div>
    <b-modal
      ref="delete-song-modal"
      ok-title="Delete"
      ok-variant="danger"
      no-close-on-esc
      @ok.prevent="deleteSong"
      title="Delete song"
    >
      <p>You want to delete this song?</p>
    </b-modal>
    <b-modal
      ref="update-song-modal"
      ok-title="Update"
      ok-variant="warning"
      @ok.prevent="updateSong"
      @close="closeModal"
      @cancel="closeModal"
      no-close-on-esc
      cancel-variant="dark"
      title="Update song"
    >
      <b-form-group
        id="fieldset-title"
        description="Title of the song."
        label="Title"
        label-for="input-title"
      >
        <b-form-input id="input-title" v-model="song.title" trim></b-form-input>
      </b-form-group>
      <b-form-group
        id="fieldset-artist"
        description="Artist of the song."
        label="Artist"
        label-for="input-artist"
      >
        <b-form-input
          id="input-artist"
          v-model="song.artist"
          trim
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="fieldset-year_release"
        description="Song release."
        label="Year Release"
        label-for="input-year_release"
      >
        <b-form-input
          id="input-year_release"
          v-model="song.year_release"
          trim
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="fieldset-genre"
        description="Genre of song."
        label="Genre"
      >
        <b-form-select v-model="song.genre_id" class="w-100">
          <b-form-select-option
            v-for="genre in genres"
            :key="genre.id"
            :value="genre.id"
          >
            {{ genre.name }}</b-form-select-option
          >
        </b-form-select>
      </b-form-group>
      <b-form-group
        id="fieldset-song-image"
        description="The song first before the image."
        label="Song and image file"
        label-for="input-song-image"
      >
        <VueFileAgent
          ref="vueFileAgent"
          :theme="'list'"
          :multiple="true"
          :deletable="true"
          :meta="true"
          :accept="'.mp3, .mp4, .png, .jpg'"
          :maxSize="'10MB'"
          :maxFiles="2"
          :helpText="'Choose a music and image file'"
          :errorText="{
            type: 'Invalid file type. Only music and image file are Allowed',
            size: 'Files should not exceed 10MB in size',
          }"
          @select="filesSelected($event)"
          @beforedelete="onBeforeDelete($event)"
          @delete="fileDeleted($event)"
          v-model="fileRecords"
        ></VueFileAgent>
      </b-form-group>
    </b-modal>
    <b-modal
      ref="new-song-modal"
      title="New Song"
      @ok.prevent="uploadSong"
      no-close-on-esc
      @close="closeModal"
      @cancel="closeModal"
    >
      <b-form-group
        id="fieldset-title"
        description="Title of the song."
        label="Title"
        label-for="input-title"
      >
        <b-form-input id="input-title" v-model="song.title" trim></b-form-input>
      </b-form-group>
      <b-form-group
        id="fieldset-artist"
        description="Artist of the song."
        label="Artist"
        label-for="input-artist"
      >
        <b-form-input
          id="input-artist"
          v-model="song.artist"
          trim
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="fieldset-year_release"
        description="Song release."
        label="Year Release"
        label-for="input-year_release"
      >
        <b-form-input
          id="input-year_release"
          v-model="song.year_release"
          trim
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="fieldset-genre"
        description="Genre of song."
        label="Genre"
        label-for="input-genre"
      >
        <b-form-select v-model="song.genre_id" class="w-100">
          <b-form-select-option
            v-for="genre in genres"
            :key="genre.id"
            :value="genre.id"
          >
            {{ genre.name }}</b-form-select-option
          >
        </b-form-select>
      </b-form-group>
      <b-form-group
        id="fieldset-song-image"
        description="The song first before the image."
        label="Song and image file"
        label-for="input-song-image"
      >
        <VueFileAgent
          ref="vueFileAgent"
          :theme="'list'"
          :multiple="true"
          :deletable="true"
          :meta="true"
          :accept="'.mp3, .mp4, .png, .jpg'"
          :maxSize="'10MB'"
          :maxFiles="2"
          :helpText="'Choose a music and image file'"
          :errorText="{
            type: 'Invalid file type. Only music and image file are Allowed',
            size: 'Files should not exceed 10MB in size',
          }"
          @select="filesSelected($event)"
          @beforedelete="onBeforeDelete($event)"
          @delete="fileDeleted($event)"
          v-model="fileRecords"
        ></VueFileAgent>
      </b-form-group>
    </b-modal>

    <b-button
      class="new-song rounded-circle shadow"
      size="lg"
      v-on:click="$refs['new-song-modal'].show()"
    >
      <i class="fas fa-plus"></i>
    </b-button>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
export default {
  components: {
    Navbar,
  },
  async mounted() {
    document.title = "OPM Song Collection";
    const res = await this.$store.dispatch("CHECK_USER");
    if (res.status == 401) {
      localStorage.removeItem("auth");
      this.$router.push("/login");
    }
    await this.$store.dispatch("FETCH_GENRES");
    await this.$store.dispatch("FETCH_SONGS");
  },
  data() {
    return {
      fileRecords: [],
      uploadUrl: "http://127.0.0.1:8000/api",
      uploadHeaders: { "X-Test-Header": "vue-file-agent" },
      fileRecordsForUpload: [], // maintain an upload queue
      song: {
        title: "",
        artist: "",
        year_release: "",
        featured_song: "",
        featured_image: "",
        genre_id: "",
      },
      id: 0,
      modalId: "",
    };
  },
  computed: {
    songs() {
      return this.$store.getters.GET_SONGS;
    },
    genres() {
      return this.$store.getters.GET_GENRES;
    },
    token() {
      return this.$store.getters.GET_TOKEN;
    },
  },
  methods: {
    showUpdateSong(song) {
      this.id = song.id;
      this.song = { ...song };
      this.$refs["update-song-modal"].show();
    },
    showDeleteSong(id) {
      this.id = id;
      this.$refs["delete-song-modal"].show();
    },
    filesSelected: function (fileRecordsNewlySelected) {
      var validFileRecords = fileRecordsNewlySelected.filter(
        (fileRecord) => !fileRecord.error
      );
      this.fileRecordsForUpload =
        this.fileRecordsForUpload.concat(validFileRecords);
    },
    onBeforeDelete: function (fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        // queued file, not yet uploaded. Just remove from the arrays
        this.fileRecordsForUpload.splice(i, 1);
        var k = this.fileRecords.indexOf(fileRecord);
        if (k !== -1) this.fileRecords.splice(k, 1);
      } else {
        if (confirm("Are you sure you want to delete?")) {
          this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
        }
      }
    },
    fileDeleted: function (fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
      }
    },
    async uploadSong() {
      if (this.song.title == "") return this.$toast.error("Title is required");
      if (this.song.artist == "")
        return this.$toast.error("Artist is required");
      if (this.song.year_release == "")
        return this.$toast.error("Year release is required");
      if (this.song.genre_id == "")
        return this.$toast.error("Genre is required");
      if (this.fileRecordsForUpload.length == 0)
        return this.$toast.error("Featured Image is required");
      if (
        this.fileRecordsForUpload.length > 2 ||
        this.fileRecordsForUpload.length < 2
      ) {
        console.log("Music and Image file are required");
      }
      const res = await this.$refs.vueFileAgent.upload(
        `http://127.0.0.1:8000/api/uploadFile?token=${localStorage.getItem(
          "auth"
        )}`,
        { "x-csrf-token": this.token, "X-Requested-With": "XMLHttpRequest" },
        this.fileRecordsForUpload
      );

      this.song.featured_song = res[0].data;
      this.song.featured_image = res[1].data;
      console.log(this.song);

      const song = await this.$store.dispatch("STORE_SONG", this.song);
      if (song.status == 200) {
        this.$store.dispatch("FETCH_SONGS");
        this.$toast.success("Song was added successfully!");
        this.$refs["new-song-modal"].hide();
        this.fileRecordsForUpload = [];
      } else {
        this.$toast.error("Something went wrong");
      }
    },
    async deleteSong() {
      const info = await this.$store.dispatch("DESTROY_SONG", this.id);
      if (info.status == 200) {
        await this.$store.dispatch("FETCH_SONGS");
        this.$refs["delete-song-modal"].hide();
        this.$toast.success("Song was deleted successfully!");
      } else {
        this.$toast.error("Something went wrong");
      }
    },
    async updateSong() {
      if (this.song.title == "") return this.$toast.error("Title is required");
      if (this.song.artist == "")
        return this.$toast.error("Artist is required");
      if (this.song.year_release == "")
        return this.$toast.error("Year release is required");
      if (this.song.genre_id == "")
        return this.$toast.error("Genre is required");
      if (this.fileRecordsForUpload.length == 0)
        return this.$toast.error("Featured Image is required");
      if (
        this.fileRecordsForUpload.length > 2 ||
        this.fileRecordsForUpload.length < 2
      ) {
        console.log("Music and Image file are required");
      }
      const res = await this.$refs.vueFileAgent.upload(
        `http://127.0.0.1:8000/api/uploadFile?token=${localStorage.getItem(
          "auth"
        )}`,
        { "x-csrf-token": this.token, "X-Requested-With": "XMLHttpRequest" },
        this.fileRecordsForUpload
      );

      this.song.featured_song = res[0].data;
      this.song.featured_image = res[1].data;
      console.log(this.song);

      const song = await this.$store.dispatch("UPDATE_SONG", {
        data: this.song,
        id: this.id,
      });
      if (song.status == 200) {
        this.$store.dispatch("FETCH_SONGS");
        this.$refs["update-song-modal"].hide();
        this.fileRecordsForUpload = [];
      } else {
        this.$toast.error("Something went wrong");
      }
    },
    closeModal() {
      this.song = {};
    },
  },
};
</script>